<ion-header>

    <ion-navbar color="primary">
        <ion-title>{{ usuario.nombre + " " + usuario.apellido }}</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-card>
        <ion-card-content>
            <ion-card-title>
                Datos Personales
            </ion-card-title>
            <p>
                Nombre: {{ usuario.nombre }}
            </p>
            <p>
                Apellido: {{ usuario.apellido }}
            </p>
            <p *ngIf="rut">
                Rut: {{ usuario.rut }}
            </p>
            <p *ngIf="!rut" class="error">
                Rut: Invalido
            </p>
            <p>
                Teléfono: {{ telefono }}
            </p>
            <p *ngIf="fechaNac">
                Fecha de nacimiento: {{ usuario.fechaNacimiento | date: 'dd-MM-yyyy' }}
            </p>

            <p *ngIf="!fechaNac" class="error">
                Fecha de nacimiento: Invalida
            </p>
        </ion-card-content>
    </ion-card>


    <ion-card>
        <ion-card-content>

            <ion-card-title>
                Dirección
            </ion-card-title>
            <p>
                Calle: {{ usuario.direccion.calle }}
            </p>
            <p>
                Numero: {{ usuario.direccion.numero }}
            </p>
            <p *ngIf="usuario.direccion.comuna && !usuario.direccion.comuna.nombre">
                Comuna: {{ usuario.direccion.comuna }}
            </p>
            <p *ngIf="usuario.direccion.nombre">
                Comuna: {{ usuario.direccion.nombre }}
            </p>
            <p *ngIf="!usuario.direccion.nombre && usuario.direccion.comuna.nombre">
                Comuna: {{ usuario.direccion.comuna.nombre }}
            </p>
        </ion-card-content>
    </ion-card>

</ion-content>