<ion-header>

    <ion-navbar color="primary">
        <ion-title>{{ usuario.nombre + " " + usuario.apellido }}</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-card>
        <ion-card-content>
            <ion-card-title>
                Datos Personales
            </ion-card-title>
            <p>
                nombre: {{ usuario.nombre }}
            </p>
            <p>
                apellido: {{ usuario.apellido }}
            </p>
            <p>
                rut: {{ usuario.rut }}
            </p>
            <p>
                telefono: {{ usuario.telefono }}
            </p>
            <p>
                fecha de Nacimiento: {{ usuario.fechaNacimiento }}
            </p>
        </ion-card-content>
    </ion-card>


    <ion-card>
        <ion-card-content>

            <ion-card-title>
                Direccion
            </ion-card-title>
            <p>
                Calle: {{ usuario.direccion.calle }}
            </p>
            <p>
                Numero: {{ usuario.direccion.numero }}
            </p>
            <p *ngIf="usuario.direccion.comuna">
                Comuna: {{ usuario.direccion.comuna }}
            </p>
            <p *ngIf="usuario.direccion.nombre">
                Comuna: {{ usuario.direccion.nombre }}
            </p>


        </ion-card-content>
    </ion-card>

</ion-content>