<ion-header>

    <ion-navbar color="primary">
        <ion-title>{{ usuario.nombre + " " + usuario.apellido }}</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-card>
        <ion-card-content>
            <ion-card-title>
                Datos Personales
            </ion-card-title>
            <p>
                Nombre: {{ usuario.nombre }}
            </p>
            <p>
                Apellido: {{ usuario.apellido }}
            </p>
            <p *ngIf="rut">
                Rut: {{ usuario.rut }}
            </p>
            <p *ngIf="!rut" class="error">
                Rut: Invalido
            </p>
            <p>
                Teléfono: {{ telefono }}
            </p>
            <p *ngIf="!(fechaNac == 'Error: fecha no Valida')">
                Fecha de nacimiento: {{ fechaNac | date: 'dd-MM-yyyy' }}
            </p>

            <p *ngIf="(fechaNac == 'Error: fecha no Valida')" class="error">
                Fecha de nacimiento: {{ fechaNac }}
            </p>


        </ion-card-content>
    </ion-card>


    <ion-card>
        <ion-card-content>

            <ion-card-title>
                Dirección
            </ion-card-title>
            <p>
                Calle: {{ usuario.direccion.calle }}
            </p>
            <p>
                Numero: {{ usuario.direccion.numero }}
            </p>
            <p>
                Comuna: {{ comuna }}
            </p>

        </ion-card-content>
    </ion-card>

</ion-content>